In [42]:
keys = ['a', 'b', 'c']
values = [1, 2]
dictionary = {k:v for k, v in zip(keys, values)}
print(dictionary)

dictionary2 = {'d':4}
merged_dict = {**dictionary, **dictionary2}
print(merged_dict)

{'a': 1, 'b': 2}
{'a': 1, 'b': 2, 'd': 4}

In [43]:
keys = ['a', 'b', 'c']
values = [1, 2]

dictionary3 = zip(keys, values)
print(tuple(dictionary3))

(('a', 1), ('b', 2))

In [44]:
dict1 = {'a': 1, 'b': 4}
dict2 = {'b': 3, 'c': 3}
dict3 = {'d': 4, 'e': 5}
merge_dict123 = {**dict1, **dict2, **dict3}
print(merge_dict123)

{'a': 1, 'b': 3, 'c': 3, 'd': 4, 'e': 5}

In [45]:
dict1 = {'a': 10, 'b': 11, 'c': 12, 'i': 13}
dict2 = {'d': 13, 'e': 14, 'f': 15, 'o': 16, 'u': 17, 'z': 18}
# merge all items in the dictionaries that match the conditions
merge_dict12 = {**{k: v for k,v in dict1.items() if k in 'aeiou'}, **{k: v for k,v in dict2.items() if k in 'aeiou'}}
print(merge_dict12)

{'a': 10, 'i': 13, 'e': 14, 'o': 16, 'u': 17}

In [46]:
#underscore
a = 1 + 1
a

2

In [47]:
x, _, y = (1, "ignored", 2)
x, y

(1, 2)

In [48]:
_

'ignored'

In [49]:
names = ["John", "Mike", "Tom"]
for i, name in enumerate(names):
    print(i, name)

0 John
1 Mike
2 Tom

In [50]:
names = ["John", "Mike", "Tom"]
for i, name in enumerate(names, start=9):
    print(i, name)

9 John
10 Mike
11 Tom

In [53]:
keys = ['a', 'b']
values = [1, 2]
paired = zip(keys, values)
_ = list(paired)
print(_)
print(type(_))
print(type(('a', 1)))

[('a', 1), ('b', 2)]
<class 'list'>
<class 'tuple'>

In [56]:
ids = [1, 2, 3]
names = ['Alice', 'Bob', 'Cathy', 'Mike']
grades = ['A', 'B', 'A+', 'A']
# store the pairs of names and grades in variable name_grade
name_grade = zip(names, grades)
# store the pairs of student ids and name_grade information in a dictionary
students = dict(zip(ids, name_grade))
print(students)

{1: ('Alice', 'A'), 2: ('Bob', 'B'), 3: ('Cathy', 'A+')}